.create-post-container {
    background-color: #ffffff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 40px;
    margin-left: 330px;
    width: 100%;
    max-width: 600px;
}

.create-post-view {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #34495e;
}

.create-post-message {
    font-family: 'Azonix', sans-serif;
    font-size: 30px;
    color: #666;
    margin-bottom: 30px;
}

.create-post-textarea {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f0f0f0;
    color: #333;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s;
    box-sizing: border-box;
    border-color: #007bff64;
    resize: none;
}

.create-post-textarea:hover {
    background-color: #f0f0f0;
    outline: none;
    border-color: #007BFF;
}

.create-post-textarea:focus {
    background-color: #f0f0f0;
    outline: none;
    border-color: #007BFF;
}