@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/azonix');

body, input, button, label, textarea {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.home {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #34495E;
}

.introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}
