@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/azonix');

body, input, button, label {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.login {
    margin: 0;
    padding: 0;
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #34495e;
}

.logo {
    font-family: 'Azonix', sans-serif;
    font-size: 70px;
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    margin-top: -20%;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.login-container {
    background-color: #ffffff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 40px;
    width: 90%;
    max-width: 400px;
}

.login-message {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

input {
    padding: 15px;
    background-color: #f0f0f0;
    color: #333;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s;
    box-sizing: border-box;
    border-color: #007bff64;
}

input:hover {
    background-color: #f0f0f0;
    outline: none;
    border-color: #007BFF;
}

input:focus {
    background-color: #f0f0f0;
    outline: none;
    border-color: #007BFF;
}

#password{
    margin-bottom: 15px;
}

button {
    padding: 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.login-error {
    color: red;
    margin-top: 10px;
  }

@media (max-width: 768px) {
    .login-container {
        width: 95%;
        padding: 20px;
    }
}
