#course-header {
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 2px;
    padding-left: 12px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 0px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #354c62;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 500;
    padding-top: 60px;
}

.course-header h2 {
    color: #FFFFFF;
    position: sticky;
    text-align: left;
    margin: 0px;
}

.topic-item {
    display: block;
    padding: 10px;
    color: #BDC3C7;
    text-decoration: none;
    cursor: pointer;
}

.topic-item:hover {
    background-color: #47627c;
}

.create-topic {
    display: block;
    padding: 10px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #2C3E50;
    font-style: bolder;
}

.create-topic:hover {
    background-color: #47627c;
}