  .topic-container {
    position: relative;
    top: 65px;
    margin-left: 321px;
    width: calc(100% - 321px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
  .post-container {
    background-color: #ffffff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    width: calc(33% - 20px); /* Adjust the width for 3 posts per row */
    max-width: 300px;
    transition: all 0.3s ease-in-out;
    margin: 30px;
  }

  .post-container:hover{
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .post-header {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .post-author {
    font-size: 14px;
    color: #666;
    font-weight: 500;
  }
  
  .post-title {
    font-size: 20px;
    color: #333;
    margin: 5px 0;
  }
  
  .post-footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
  }

  @media (max-width: 768px) {
    .post {
      width: calc(50% - 20px); /* Adjust for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .post {
      width: calc(100% - 20px); /* Full width on very small screens */
    }
  }